PORT=3001
WEB_APP_ORIGIN=http://localhost:3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pulsebook?schema=public"
JWT_SECRET="replace-with-a-local-secret"
TEST_ADMIN_USER_ID="cmpmdf7o90009msv55cb85hrs" # Fallback for testing when auth is disabled

